body {
    font-family: 'Open Sans', sans-serif;
}

.head {
    background-color: lightblue;
    background-image: url(../img/pattern.png);
}

.logo {
    width: 25%;
    height: 20%;
    padding-top: 50px;
}

h1 {
    font-size: 30px;
}

.author {
    font-weight: bold;
    color:  grey;
}

.evidence {
    background-color: yellowgreen;
}

