body {
    font-family: 'Open Sans', sans-serif;
}

.head {
    background-color: lightblue;
    background-image: url(../img/pattern.png);
}

.logo {
    width: 25%;
    height: 20%;
    padding-top: 50px;
}

h1 {
    font-size: 30px;
}

.author {
    font-weight: bold;
    color:  grey;
}

.evidence {
    background-color: yellowgreen;
}


th {
    background-color: rgb(0, 110, 255);
    text-align: left;
}

.th-standardlong {
    width: 20%;
}

.th-long {
    width: ; 60%;
}


h3 {
    color: grey;
}

.color-blue {
    background-color: turquoise;
}


.image-footer {
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    color: white;
}

.image-footer {
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    color: white;
}

.bg-ft1 {
    background-image: url(../img/monitor.jpg);
}
 .bg-ft2 {
    background-image: url(../img/graph.jpg);
 }

